@{
  Layout = "_Layout";
}

<h1>Welcome to StrikeForce, the ultimate CRM platform!</h1>
<p>@Html.ActionLink("See all Leads", "Index", "Leads")</p> 
<p>@Html.ActionLink("See all Sales Team Members", "Index", "SalesTeamMembers")</p>
<p>@Html.ActionLink("Create an Account", "Register", "Account")</p> 
<p>@Html.ActionLink("Login", "Login", "Account")</p>
<p>@Html.ActionLink("Logout", "Index", "Account")</p> 