@{
  Layout = "_Layout";
}

@using StrikeForce.ViewModels

@model LoginViewModel

<h2>Login</h2>
<hr />
@using (Html.BeginForm())
{
  @Html.Label("Enter Email")
  @Html.TextBoxFor(m => m.Email)

  @Html.Label("Enter Password")
  @Html.PasswordFor(m => m.Password)

  <input type ="submit" value="Log in" class="btn btn-default" />
}
<p>@Html.ActionLink("Home", "Index", "Home")</p> 